.beanstalk, .cloud {
    background-image: url("../img/beanstalk.png");
}

.beanstalk-1 {
    background-position: -112px -1px;
    height: 87px;
}

.beanstalk-2 {
    background-position: -112px -88px;
    height: 190px;
}

.beanstalk-3 {
    background-position: -112px -276px;
    height: 67px;
}

.beanstalk-4 {
    background-position: -112px -342px;
    height: 62px;
}

.beanstalk-5 {
    background-position: -112px -408px;
    height: 64px;
}

.beanstalk-6 {
    background-position: -112px -472px;
    height: 64px;
}

.cloud-1 {
    background-position: 0px -133px;
    height: 57px;
    width: 80px;
}

.cloud-2 {
    background-position: 0px -255px;
    height: 60px;
    width: 80px;
    margin-left: 30px;
}

.cloud-3 {
    background-position: 0px -133px;
    height: 57px;
    width: 80px;
    float: right;
}

.cloud-4 {
    background-position: 0px -255px;
    height: 60px;
    width: 80px;
    margin-left: 60px;
    z-index: -1;
}