li {
    list-style-type: none;
    color: orangered;
}

h1 {
    margin: 20px;
}

.beanstalk, .cloud {
    background-image: url("../img/beanstalk.png");
}

.beanstalk-1 {
    background-position: -112px -1px;
    height: 87px;
}

.beanstalk-2 {
    background-position: -112px -88px;
    height: 190px;
}

.beanstalk-3 {
    background-position: -112px -276px;
    height: 67px;
}

.beanstalk-4 {
    background-position: -112px -342px;
    height: 62px;
}

.beanstalk-5 {
    background-position: -112px -408px;
    height: 64px;
}

.beanstalk-6 {
    background-position: -112px -472px;
    height: 64px;
}

.cloud-1 {
    background-position: 0px -133px;
    height: 57px;
    width: 80px;
}

.cloud-2 {
    background-position: 0px -255px;
    height: 60px;
    width: 80px;
    margin-left: 30px;
}

.cloud-3 {
    background-position: 0px -133px;
    height: 57px;
    width: 80px;
    float: right;
}

.cloud-4 {
    background-position: 0px -255px;
    height: 60px;
    width: 80px;
    margin-left: 60px;
    z-index: -1;
}

.jspContainer {
    overflow: hidden;
    position: relative;
}

.jspPane {
    position: absolute;
}

.jspVerticalBar {
    position: absolute;
    visibility: hidden;
    top: 0;
    right: 0;
    width: 16px;
    height: 100%;
    background: red;

}

.jspCap {
    display: none;
}

.jspTrack {
    background: #dde;
    position: relative;
}

.jspDrag {
    background: #bbd;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}

.jspArrow {
    background: #50506d;
    text-indent: -20000px;
    display: block;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.jspVerticalBar .jspArrow {
    height: 16px;
}

.jspVerticalBar .jspArrow:focus {
    outline: none;
}

.scroll-pane {
    width: 100%;
    height: 760px;
    overflow: hidden;
    cursor: pointer;
}

.bottom {
    margin-top: 20px;
    color: #E5EDB8;
}

.contact-added {
    margin: 20px;
}

.form-block {
    margin-bottom: 18px;
}

.error-block {
    text-align: right;
}

.formControlLabel {
    float: left;
    padding-top: 0px;
    text-align: right;
    width: 140px;
}

.formControls {
    margin-left: 160px;
}

.active-button {
    background-color: #5B3F39;
    color: #ffffff;
}

.active-button {
    background-color: #5A3D31;
    color: #ffffff;
}