{% load i18n staticfiles %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% block head %}
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="cache-control" content="public" />
    <meta name="robots" content="follow, all" />
    <meta name="language" content="{{ LANGUAGE_CODE }}" />

    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png" />
    <link href="{{ STATIC_URL }}css/beanstalk.css" media="all" type="text/css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/theme.css" media="all" type="text/css" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.mousewheel.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.jscrollpane.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/beanstalk.js"></script>
    <title>Our bean is your win!
    </title>
</head>
{% endblock %}

<body class="">

<div class="tm-page">

    {% block menu %}

    <nav class="tm-navbar uk-navbar">

        <div class="uk-navbar-flip">
            <ul class="uk-navbar-nav uk-visible-large">
                <li class="uk-active"><a href="{% url 'home' %}">HOME</a></li>
                <li><a href="{% url 'contact' %}">CONTACT</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/services">SERVICES</a></li>
                <li><a href="{% url 'zinnia_entry_archive_index' %}">BLOG</a></li>
            </ul>
        </div>

        <div class="uk-hidden-large">
            <a data-uk-offcanvas="" class="toggle-menu" href="#offcanvas"></a>
        </div>

        <a href="/" class="tm-logo uk-navbar-brand uk-visible-large">
            <img width="100%" height="100%" alt="logo" src="{{ STATIC_URL }}img/logo.png"
                 title="logo" style="float: left;">
        </a>

        <div class="uk-navbar-content uk-navbar-center uk-hidden-large">
            <a href="/" class="tm-logo-small">
                <img alt="logosmall" src="{{ STATIC_URL }}img/logosmall.png"
                     style="margin-top: 3px;">
            </a></div>
    </nav>

    {% endblock %}

    <div class="tm-block-light">
        <div class="uk-container uk-container-center">
            {% block content %}
            {% endblock %}
        </div>

    </div>

    <div class="tm-bottom tm-block tm-block-black">
        <div class="uk-container uk-container-center">

            <div class="bottom">
                {% block bottom_contact %}
                {% endblock %}
            </div>

            {% block footer %}
            <footer class="tm-footer tm-block">

                <a href="#" data-uk-smooth-scroll="" class="tm-totop-scroller"></a>

                <div class="uk-panel footit">
                    <div style="float: left;">
                        <a href="{% url 'home' %}" title={% url 'home' %}>Home</a>
                        | <a href="/terms-and-conditions" title="Terms and Conditions">Terms Conditions</a>
                        | <a href="/privacy-policy" title="Privacy Policy">Privacy Policy</a>
                        | <a href="{% url 'contact' %}" title="Contact Us">Contact</a>
                        | <a href="{% url 'zinnia_entry_archive_index' %}" title="Blog">Blog</a>
                        | <a href="/sitemap" title="sitemap">Sitemap</a>
                    </div>
                    <div style="float: left; clear: both">
                        <p style="text-align: right;">
                            <strong>Email:</strong> <a href="mailto:">dart.moal@gmail.com</a></p>
                    </div>
                </div>

            </footer>
            {% endblock %}

        </div>

    </div>

</div>

</body>
</html>