{% extends "index.html" %}
{% block contact_navactive %}navactive{% endblock %}
{% block main %}
  <div class="contact-page main grid-wrap">
    <header class="grid col-full">
      <hr>
      <p class="fleft">Contact</p>
    </header>
    <aside class="grid col-one-quarter mq2-col-one-third mq3-col-full">
      <p class="mbottom">I would love to talk to you and answer all of your questions</p>
      <address class="mbottom">
      <h5>DESIGNA studio </h5>
      3615 Fake Street <br >
      Level 5, Door 123 <br >
      1010 WHATEVER<br >
      <a href="#">Get directions</a>
      </address>
      <p class="mbottom"> 00 77 66 55 33<br >
        00 77 66 55 33</p>
      <p class="mbottom"> <a href="#">address@email.com</a><br >
        <a href="#">Designa Studio on Facebook</a><br >
        <a href="#">@designstudio on Twitter</a><br >
        <a href="#">Designa Studio on Google+</a> </p>
      <p>
      <h6>Openning hours: </h6>
      Monday to Friday <br >
      09h00 to 17h00
      <p></p>
    </aside>
    <section class="grid col-three-quarters mq2-col-two-thirds mq3-col-full">
      <h2>Drop us a message</h2>
      <p class="warning">Don't forget to put your own email address in the php file!</p>
      <form id="contact_form" class="contact_form" action="#" method="post" name="contact_form">
        {% csrf_token %}
        <ul>

            {% for field in contact_form %}
                <li>
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
                 </li>
            {% endfor %}

            <li>
                <button type="submit" id="submit" name="submit" class="button fright">Send it</button>
            </li>
        </ul>
      </form>
    </section>
  </div>
{% endblock %}
</div>

</body>
</html>