{% extends "base.html" %}

{% block enquiry %}


    <script type="text/javascript">
        $(document).ready(function () {
            $('#enquiryForm').submit(function () { // catch the form's submit event
                $.ajax({ // create an AJAX call...
                    data: $(this).serialize(), // get the form data
                    type: $(this).attr('POST'), // GET or POST
                    url: $(this).attr({% url 'enquiry' %}), // the file to call
                    success: function (response) { // on success..

                    },
                    error: function (e, x, r) { // on error..

                    }
                });
                return false;
            });
        });
    </script>

    <div class="tm-block">
        <section data-uk-grid-margin="" data-uk-grid-match="{target:'&gt; div &gt; .uk-panel'}"
                 class="tm-bottom-c uk-grid">
            <div class="uk-width-1-1">
                <div class="uk-panel footit">

                    <div style="float: left; width: 45%; margin: 10px;">
                        <h3>Get in Touch</h3>

                        <p><strong>Mobile:</strong> <a href="tel:+447974262110">Tel: 07974262110</a></p>

                        <p><strong>Email:</strong> <a href="#">dart.moal@gmail.com</a></p>

                    </div>
                    <div style="float: left; width: 45%; margin: 10px;">
                        <form action="{% url 'enquiry' %}" enctype="multipart/form-data" class="formResponsive"
                              id="enquiryForm"
                              method="post">
                            {% csrf_token %}

                            <fieldset id="" class="formHorizontal formContainer">
                                <div class="enq-form">

                                    <div class="formControlLabel">Full Name</div>
                                    <div class="formControls">

                                        <input type="text" class="rsform-input-box"
                                               id="name"
                                               name="name" size="" value="">

                                    </div>
                                </div>
                                <div class="enq-form">
                                    <div class="formControlLabel">Email Address</div>
                                    <div class="formControls">
                                        <input type="text" class="rsform-input-box"
                                               id="email"
                                               name="email" size="30" value="">

                                    </div>
                                </div>
                                <div class="enq-form">
                                    <div class="formControlLabel">Telephone</div>
                                    <div class="formControls">
                                        <input type="text" class="rsform-input-box"
                                               id="telephone"
                                               name="telephone" size="30" value="">


                                    </div>
                                </div>
                                <div class="enq-form">
                                    <div class="formControlLabel">Message</div>
                                    <div class="formControls">
                                        <textarea class="rsform-text-box" id="message"
                                                  name="message" rows="4"
                                                  cols="30"></textarea>


                                    </div>
                                </div>
                                <div class="enq-form">
                                    <div class="formControlLabel"></div>
                                    <div class="formControls">
                                        <input type="submit" class="rsform-submit-button"
                                               id="send" name="send"
                                               value="Submit Enquiry">

                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <div id="thanks"><p>Dear Abert Kadaber

                            Thank you for your enquiry today. A member of staff is now dealing with your email and we
                            will be in touch shortly.

                            Regards

                            Ashley Barnard</p>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
