{% extends "base.html" %}

{% block enquiry %}

    <div class="tm-block">
        <section data-uk-grid-margin="" data-uk-grid-match="{target:'&gt; div &gt; .uk-panel'}"
                 class="tm-bottom-c uk-grid">
            <div class="uk-width-1-1">
                <div class="uk-panel footit">

                    <div style="float: left; width: 45%; margin: 10px;">
                        <h3>Get in Touch</h3>

                        <p><strong>Mobile:</strong> <a href="tel:+447974262110">Tel: 07974262110</a></p>

                        <p><strong>Email:</strong> <a href="#">dart.moal@gmail.com</a></p>

                    </div>
                    <div style="float: left; width: 45%; margin: 10px;">

                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
