<!DOCTYPE html>
<html>
<head>
    <link href="../static/css/beanstalk.css" media="all" type="text/css" rel="stylesheet">
    <link href="../static/css/theme.css" media="all" type="text/css" rel="stylesheet">

    <link type="text/css" href="../static/css/jquery.css" rel="stylesheet" media="all">

    <style type="text/css" id="page-css">

    </style>

    <script type="text/javascript" src="../static/js/jquery_003.js"></script>
    <script type="text/javascript" src="../static/js/jquery_002.js"></script>
    <script type="text/javascript" src="../static/js/beanstalk.js"></script>

    <title></title>
</head>
<body class="">

<div class="tm-page">

<nav class="tm-navbar uk-navbar">

    <div class="uk-navbar-flip">
        <ul class="uk-navbar-nav uk-visible-large">
            <li class="uk-active"><a href="/">HOME</a></li>
            <li><a href="/contact">CONTACT</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/services">SERVICES</a></li>
            <li><a href="/blog/">BLOG</a></li>
        </ul>
    </div>

    <div class="uk-hidden-large">
        <a data-uk-offcanvas="" class="toggle-menu" href="#offcanvas"></a>
    </div>

    <a href="/" class="tm-logo uk-navbar-brand uk-visible-large">
        <img width="100%" height="100%" alt="logo" src="logo.png"
             title="logo" style="float: left;"></a>

    <div class="uk-navbar-content uk-navbar-center uk-hidden-large"><a href="/"
                                                                       class="tm-logo-small">
        <img alt="logosmall" src="../static/img/logosmall.png" style="margin-top: 3px;"></a></div>

</nav>

<div class="tm-block-light">

    <div class="uk-container uk-container-center">

        <div data-uk-grid-margin="" data-uk-grid-match="" class="uk-grid">

            <div class="tm-main tm-bottom uk-width-medium-4-5" style="min-height: 760px;">

                <main class="tm-content">

                    <div class="uk-grid ">
                        <div class="uk-width-1-1">
                            <article class="uk-article">
                                <h1 class="uk-article-title">
                                    Hello &amp; Hello
                                </h1>

                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in ligula id sem
                                    tristique ultrices eget id neque. Duis enim turpis, tempus at accumsan vitae,
                                    lobortis id sapien. Pellentesque nec orci mi, in pharetra ligula. Nulla
                                    facilisi. Nulla facilisi. Mauris convallis venenatis massa, quis consectetur
                                    felis ornare quis. Sed aliquet nunc ac ante molestie ultricies. Nam pulvinar
                                    ultricies bibendum. Vivamus diam leo, faucibus et vehicula eu, molestie sit amet
                                    dui. Proin nec orci et elit semper ultrices. Cum sociis natoque penatibus et
                                    magnis dis parturient montes, nascetur ridiculus mus. Sed quis urna mi, ac
                                    dignissim mauris. Quisque mollis ornare mauris, sed laoreet diam malesuada quis.
                                    Proin vel elementum ante. Donec hendrerit arcu ac odio tincidunt posuere.
                                    Vestibulum nec risus eu lacus semper viverra.

                                    Vestibulum dictum consectetur magna eu egestas. Praesent molestie dapibus erat,
                                    sit amet sodales lectus congue ut. Nam adipiscing, tortor ac blandit egestas,
                                    lorem ligula posuere ipsum, nec faucibus nisl enim eu purus. Quisque bibendum
                                    diam quis nunc eleifend at molestie libero tincidunt. Quisque tincidunt sapien a
                                    sapien pellentesque consequat. Mauris adipiscing venenatis augue ut tempor.
                                    Donec auctor mattis quam quis aliquam. Nullam ultrices erat in dolor pharetra
                                    bibendum. Suspendisse eget odio ut libero imperdiet rhoncus. Curabitur aliquet,
                                    ipsum sit amet aliquet varius, est urna ullamcorper magna, sed eleifend libero
                                    nunc non erat. Vivamus semper turpis ac turpis volutpat non cursus velit
                                    aliquam. Fusce id tortor id sapien porta egestas. Nulla venenatis luctus libero
                                    et suscipit. Sed sed purus risus. Donec auctor, leo nec eleifend vehicula, lacus
                                    felis sollicitudin est, vitae lacinia lectus urna nec libero. Aliquam
                                    pellentesque, arcu condimentum pharetra vestibulum, lectus felis malesuada
                                    felis, vel fringilla dolor dui tempus nisi. In hac habitasse platea dictumst. Ut
                                    imperdiet mauris vitae eros varius eget accumsan lectus adipiscing.

                                </p>
                            </article>
                        </div>
                    </div>

                </main>

            </div>

            <aside class="tm-sidebar-b uk-width-medium-1-5" style="min-height: 760px;">

                <div  style="overflow: hidden;">

                    <div class="scroll-pane jspScrollable" style="overflow: hidden; padding: 0px; width: 100%;"
                         tabindex="0">

                    </div>

                </div>

            </aside>

        </div>

    </div>

</div>

<div class="tm-bottom tm-block tm-block-black">
    <div class="uk-container uk-container-center">

        <div class="tm-block">
            <section data-uk-grid-margin="" data-uk-grid-match="{target:'&gt; div &gt; .uk-panel'}"
                     class="tm-bottom-c uk-grid">
                <div class="uk-width-1-1">
                    <div class="uk-panel footit">

                        <div style="float: left; width: 45%; margin: 10px;">
                            <h3>Get in Touch</h3>

                            <p><strong>Mobile:</strong> <a href="tel:+447974262110">Tel: 07974262110</a></p>

                            <p><strong>Email:</strong> <a href="#">dart.moal@gmail.com</a></p>

                        </div>
                        <div style="float: left; width: 45%; margin: 10px;">
                            <form action="" enctype="multipart/form-data" class="formResponsive" id="userForm"
                                  method="post">

                                <!-- Do not remove this ID, it is used to identify the page so that the pagination script can work correctly -->
                                <fieldset id="rsform_3_page_0" class="formHorizontal formContainer">
                                    <div class="rsform-block rsform-block-name">
                                        <div class="formControlLabel">Full Name</div>
                                        <div class="formControls">
                                            <div class="formBody"><input type="text" class="rsform-input-box"
                                                                         id="name"
                                                                         name="form[name]" size="" value="">
                                            </div>
                                            <p class="formDescription"></p>
                                        </div>
                                    </div>
                                    <div class="rsform-block rsform-block-email">
                                        <div class="formControlLabel">Email Address</div>
                                        <div class="formControls">
                                            <div class="formBody"><input type="text" class="rsform-input-box"
                                                                         id="email"
                                                                         name="form[email]" size="30" value="">
                                            </div>
                                            <p class="formDescription"></p>
                                        </div>
                                    </div>
                                    <div class="rsform-block rsform-block-tel">
                                        <div class="formControlLabel">Telephone</div>
                                        <div class="formControls">
                                            <div class="formBody"><input type="text" class="rsform-input-box"
                                                                         id="tel"
                                                                         name="form[tel]" size="30" value="">
                                            </div>
                                            <p class="formDescription"></p>
                                        </div>
                                    </div>
                                    <div class="rsform-block rsform-block-com">
                                        <div class="formControlLabel">Message</div>
                                        <div class="formControls">
                                            <div class="formBody"><textarea class="rsform-text-box" id="com"
                                                                            name="form[com]" rows="4"
                                                                            cols="30"></textarea>
                                            </div>
                                            <p class="formDescription"></p>
                                        </div>
                                    </div>
                                    <div class="rsform-block rsform-block-send">
                                        <div class="formControlLabel"></div>
                                        <div class="formControls">
                                            <div class="formBody"><input type="submit" class="rsform-submit-button"
                                                                         id="send" name="form[send]"
                                                                         value="Submit Enquiry"><span
                                                    class="formValidation"></span></div>
                                            <p class="formDescription"></p>
                                        </div>
                                    </div>
                                </fieldset>
                                <input type="hidden" value="3" name="form[formId]"></form>

                        </div>
                    </div>
                </div>
            </section>
        </div>

        <footer class="tm-footer tm-block">

            <a href="#" data-uk-smooth-scroll="" class="tm-totop-scroller"></a>

            <div class="uk-panel footit">
                <div style="float: left;"><a href="http://www.google.co.uk/" title="Serg Rubtsov">Home</a>
                    | <a href="/terms-and-conditions" title="Terms and Conditions">Terms &amp; Conditions</a>
                    | <a href="/privacy-policy" title="Privacy Policy">Privacy Policy</a>
                    | <a href="/contact-us" title="Contact Serg Rubtsov">Contact</a>
                    | <a href="/sitemap" title="sitemap">Sitemap</a>
                </div>
                <div style="float: left; clear: both">
                    <p style="text-align: right;">
                        <strong>E-mail:</strong> <a href="mailto:">dart.moal@gmail.com</a></p>
                </div>
            </div>
        </footer>

    </div>

</div>

<div class="uk-offcanvas" id="offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas">
            <li class="uk-active"><a href="/">Home</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about"></i>About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/blog/"><i class="uk-icon-comments-alt"></i>Blog</a></li>
        </ul>
    </div>
</div>

</div>

</body>
</html>